<html>
    <head>
        <title>{{ title }}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Hello, World!</h1>

        <img src="/daily_image" alt="Daily image" style="width:200px;height:200px;">
    
        <br/>

        <input type="text" id="newTODO">
        <button onclick="handleNewTODO()">Press</button>


        <ul id="todoList">
            <li>TODO 1</li>
            <li>TODO 2</li>
        </ul>
    </body>

    <script>
        const handleNewTODO = () => {
            const newTODO = $("#newTODO").val();

            if (newTODO && newTODO.length > 1 && newTODO.length <= 140) {
                console.log('Valid input')
            }
            else {
                console.log('Invalid input')
            }
        }
        
    </script>
</html>