<html>
    <head>
        <title>{{ title }}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Hello, World!</h1>

        <img src="/daily_image" alt="Daily image" style="width:200px;height:200px;">
    
        <br/>

        <input type="text" id="newTODO">
        <button onclick="handleNewTODO()">Press</button>

        <div id="errorBox"></div>


        <ul id="todoList">
        </ul>
    </body>

    <script>
        const handleNewTODO = () => {
            const newTODO = $("#newTODO").val();

            if (newTODO && newTODO.length > 1 && newTODO.length <= 140) {
                $.ajax({
                    url: '/new_todo',
                    type: "POST",
                    data: JSON.stringify({ 'todo': newTODO }),
                    contentType: "application/json; charset=utf-8",
                    success: (data, status) => {
                        if (status === "success") {
                            buttonHTML = "<button id=\"button_" + data.id + "\" type= \"button\" class=\"btn btn-info btn-xs\">Mark as done</button>"

                            $('#todoList').append( '<li id=todo_' + data.id + '>' + data.todo + '</li>' + buttonHTML );
                            $('#button_' + data.id).click(() => updateTodo(data.id));

                            $('#newTODO').text = '';
                        } 
                        else {
                            showErrorMessage();
                        }
                    },
                });
            }
            else {
                showErrorMessage();
            }
        }

        const showErrorMessage = () => {
            $('#errorBox').append('<label id="error"> Something went wrong </label>');

            setTimeout(() => {
                $('#error').remove();
            }, 5000);
        }
        
        const updateTodo = id => {

            $.ajax({
                    url: '/api/todo/' + id,
                    type: "PUT",
                    data: JSON.stringify({ 'todo': newTODO }),
                    contentType: "application/json; charset=utf-8",
                    success: (data, status) => {
                        console.log(data, status);
                        if (status === "success") {
                            $("#button_" + id).remove();
                            $("#todo_" + id).append(" <h6><small>Done</small> </h6>")
                        } 
                        else {
                            showErrorMessage();
                        }
                    },
                });
        }


        const loadTodos = () => {
            $.get('/todos', (data, status) => {

                if (status === "success") {

                    data.todos.forEach( todo => {
                        let buttonHTML = "";

                        if (todo.done) {
                            buttonHTML = " <h6><small>Done</small> </h6>"
                        
                        }
                        else {
                            buttonHTML = "<button id=\"button_" + todo.id + "\" type= \"button\" class=\"btn btn-info btn-xs\">Mark as done</button>"
                        }

                        $('#todoList').append( '<li id=todo_' + todo.id + '>' + todo['content'] + '</li>' + buttonHTML);
                        $('#button_' + todo.id).click(() => updateTodo(todo.id));
                    })
                }
                else {
                    showErrorMessage();
                }
            })
        }

        $(document).ready(() => loadTodos());
    </script>
</html>